* {
  display: flexbox;
  font-family: monospace;
  color: darkslateblue;
}
body {
  background-color: rgb(230, 228, 225);
  font-family: monospace;
  color: darkslateblue;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .homepage-bigdiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  width: auto;
  
} */

.homepage-bigdiv {
  position: absolute;
  left: 0;
  top: 0;
}

/* .logo-div {
  height: 10px;
  left: 0;
  transform: scale(0.25);
  transform-origin: top left;
  position: fixed;
}
 */
.about-homepage {
  margin: auto;
  width: 50vmax;
}

.about-wishes {
  margin: auto;
  width: 50vmax;
}

.workshop-container {
  display: block;
  position: relative;
  padding-right: 300px;
  width: 40%;
  margin: 0 auto;
}

.workshop-info {
  margin: 0;
}

.workshop-image {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
}

.workshop-image img {
  object-fit: cover;
}

.user-logo-menu img {
  position: fixed;
  top: 40px;
  right: 30px;
  width: 100px;
}

.menu-right {
  position: fixed;

  top: 200px;
  right: 30px;
  width: 100px;
}
button {
  color: aliceblue;
}
input {
  color: aliceblue;
}

textarea {
  color: aliceblue;
}

/* ATENÇÃO TRUQUEEEEEEE */
/* text {
  mix-blend-mode: difference;
} */

.proposal-extras {
  width: 400px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  margin: auto;
}

.proposal-form input {
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  margin: 10px;
  font-family: monospace;
  color: darkslateblue;
}
.proposal-form label {
  padding: 10px;
  margin: 10px;
}
.proposal-form textarea {
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  margin: 10px;
  font-family: monospace;
  color: darkslateblue;
  /* border-color: chartreuse; */
}
select {
  background-color: rgba(221, 220, 255, 0.997);
}
.search-input {
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  margin: 10px;
  font-family: monospace;
  color: darkslateblue;
}

.login-signup {
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  margin: 10px;
  font-family: monospace;
  color: darkslateblue;
}

.signup-form input {
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  margin: 10px;
  font-family: monospace;
  color: darkslateblue;
}
.signup-form textarea {
  padding: 20px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  margin: 10px;
  font-family: monospace;
  color: darkslateblue;
}

.signup-extras {
  width: 400px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  margin: auto;
}

button {
  margin: 5px;
}

.teacher-div {
  margin-top: 10px;
  /*  width: 300px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 10px);
  box-sizing: border-box;
  width: 300px;
}

.all-teachers {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wishes-div {
  width: 300px;
  margin: auto;
  padding-top: 20px;
}

.teacher-detail {
  width: 300px;
  margin: auto;
  padding-top: 20px;
}

#teacher-search {
  margin-top: 20px;
  width: 200px;
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  margin: 10px;
  font-family: monospace;
  color: darkslateblue;
}

.logo-and-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 20px;
  left: 20px;
}

.logo-div img {
  width: 200px;
  height: auto;
}

#teacher-search {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  font-family: monospace;
  color: darkslateblue;
}

.menu-on-profile {
  margin-top: 10px;
  width: 200px;
  padding: 10px;
}

.create-an-account {
  width: 600px;
}

.big-about-div {
  width: 500px;
}

.suggestion-box-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

#comment {
  height: 100px; /*  */
  width: 250px;
}
/* 
.all-suggestions {
  width: 600px;
  display: flex;
  flex-wrap: wrap ;
}
.suggestion-box {
  width: 200px;
  padding: 20px;
} */

.all-suggestions {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 5px;
  justify-content: center;
  /* width: 100%; */
  margin: 0 auto;
  padding: 5px;
}

/* .all-suggestions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
} */

.suggestion-box {
  padding: 10px;
}

.workshop-info {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-basis: 80%;
  flex-wrap: wrap;
  justify-content: space-between;
  border-style: solid;
  border-radius: 1px;
  border-color: rgb(230, 245, 245);

}

@media (max-width: 768px) {
  .logo-div img {
    width: 150px;
  }

  .create-an-account,
  .big-about-div,
  .about-homepage,
  .about-wishes,
  .all-suggestions {
    width: 90%;
    margin: 0 auto;
  }

  .signup-extras,
  .proposal-extras {
    width: 100%;
    padding: 5px;
  }

  .teacher-div {
    flex-basis: 80%;
    padding: 10px;
    margin: 0 auto;
  }

  .all-teachers {
    width: 100%;
  }

  .workshop-container {
    padding: 10px;

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .workshop-image {
    position: relative;
    width: 100%;
    height: auto;
  }

  .workshop-info {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: solid;
    border-radius: 1px;
    border-color: rgb(230, 245, 245);

  }

  /* Adjust user-logo-menu positioning */
  .user-logo-menu img {
    position: fixed;
    top: 10px; /* Adjust top spacing */
    right: 10px; /* Keep it aligned to the right */
    width: 60px; /* Reduce the size slightly for mobile */
    max-width: 60px;
    margin: 0; /* Remove auto-centering margin */
  }
  .menu-on-profile {
    position: relative;
    top: 0;
    left: 0;
    width: 80px; /* Adjusted width */
    max-width: 80px; /* Ensures the logo does not grow too large */
    margin: 10px auto;
  }

  .logo-and-search {
    align-items: center;
    top: 0;
    left: 0;
  }
}
@media (max-width: 768px) {
  .menu-right {
    display: none;
  }
}

#comment {
  width: 100%;
  margin: 0 auto;
}

.custom-phone-input {
  display: block;
  margin: 10px;
}

.custom-phone-input-field {
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border: none;
  font-family: monospace;
  color: darkslateblue;
  width: 100%; /* Ensures it takes the full width like other inputs */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

/*  */

#social-link {
  font-size: smaller;
  margin: auto, 0;
  display: flex;
  align-self: center;
  justify-content: center;
}
