*{
  display: flexbox;
  font-family: monospace;
  color: darkslateblue;

}
body{
  background-color: rgb(230, 228, 225);
  font-family: monospace;
  color: darkslateblue;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .homepage-bigdiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  width: auto;
  
} */

.homepage-bigdiv {
  position: absolute;
  left: 0;
  top: 0;
}

.logo-div{
  height: 10px;
  left: 0;
  transform: scale(0.25); 
  transform-origin: top left;
  position: fixed;
}

.about-homepage{
  margin: auto;
  width: 50vmax;
}

.about-wishes{
  margin: auto;
  width: 50vmax;
}



.workshop-container {
  display: block;
  position: relative;
  padding-right: 300px;
}

.workshop-info {
  margin: 0;
}

.workshop-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 400px;
}

.workshop-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-logo-menu img{
  position: fixed;
  top: 40px;
  right: 30px;
  width: 100px;
}

.menu-right{
  position: fixed;

  top: 200px;
  right: 30px;
  width: 100px;
}
button{
  color: aliceblue;
}
input{
  color: aliceblue;
}

textarea{
  color: aliceblue;
}

/* ATENÇÃO TRUQUEEEEEEE */
text{
  mix-blend-mode: difference;
}

.proposal-extras{
  width: 400px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  margin: auto;
 
}

.proposal-form input{
padding: 10px;
background-color: rgba(221, 220, 255, 0.997);
border-style: none;
margin: 10px;
font-family: monospace;
color: darkslateblue;
}
.proposal-form label{
padding: 10px;
margin: 10px;
}
.proposal-form textarea{
padding: 10px;
background-color: rgba(221, 220, 255, 0.997);
border-style:none ;
margin: 10px;
font-family: monospace;
color: darkslateblue;
/* border-color: chartreuse; */
}

.search-input{
  padding: 10px;
background-color: rgba(221, 220, 255, 0.997);
border-style: none;
margin: 10px;
font-family: monospace;
color: darkslateblue;
}

.login-signup{
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  margin: 10px;
  font-family: monospace;
  color: darkslateblue;
}

.signup-form input{
  padding: 10px;
  background-color: rgba(221, 220, 255, 0.997);
  border-style: none;
  margin: 10px;
  font-family: monospace;
  color: darkslateblue;
}

.signup-extras{
  width: 400px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 10px;
  margin: auto;
 
}

button{
  margin: 5px;
}